*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #e8e8e8;
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
}
body{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.gridContainer{
    max-width: max-content;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    gap: 10px;
    background-color: #bdb7b2;
    padding: 10px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}
.tile{
    width: 100px;
    height: 100px;
    background-color: #cdc1b4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: bold;
    color: #000;
    border-radius: 8px;
    transition: background-color .2s ease;
}
.number-2, .number-4{
    color: #776e65;
}
.number-8, .number-16, .number-32, .number-64, .number-128, .number-256, .number-512, .number-1024, .number-2048 {
    color: #f9f6f2;
}
.topBar{
    display: flex;
    justify-content: space-between;
    max-width: 440px;
}
#score{
    font-size: 22px;
    font-weight: 600;
    background: #c4bab2;
    padding: 8px 12px;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}
.btn{
    height: 38px;
    width: 100px;
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #c4bab2;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}